body {
margin: 0;
}

nav { 
    background-color: #313633;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav > a {
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    text-decoration: none;
    font-family: "Poppins";
    
}
nav > a:hover{
    opacity: 0.5;
}
img {
    display: block;
}