body{
    margin: 0;
    background-image: url("imgs/bg.jpg");
    background-size: 100vw;
    background-position: bottom;
}

.text {
font-family: "Poppins";
font-size: 2em;
color: white;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
justify-content: center;
}
