body {
  margin: 0;
}

.nav {
  background-color: #383737;
}

.nav-dropdown {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.nav-dropdown:hover > .list {
  color: #fff;
  text-decoration: none;
  display: block;
  background-color: #03a9f4;

}

.list{
  list-style-type: none;
  margin: none;
}

.li:hover{
  display: block;
  list-style-type: none;
  background-color: #205066;
}


/* position
top
left
display
margin
list-style-type
padding
background-color
:hover */